<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>User</filter-name>
        <filter-class>filter.User</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>User</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>view.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManage</servlet-name>
        <servlet-class>controller.BlogManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>view.error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangedPasswordControl</servlet-name>
        <servlet-class>controller.ChangedPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmChangePassword</servlet-name>
        <servlet-class>controller.ConfirmChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>controller.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <servlet-class>controller.ForgotPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotChangePasswordControl</servlet-name>
        <servlet-class>controller.ForgotChangePasswordControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManage</servlet-name>
        <url-pattern>/BlogManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangedPasswordControl</servlet-name>
        <url-pattern>/ChangedPasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmChangePassword</servlet-name>
        <url-pattern>/ConfirmChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/ProfileControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <url-pattern>/ForgotPasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotChangePasswordControl</servlet-name>
        <url-pattern>/ForgotChangePasswordControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
