/*---------------------- GOOGLE FONTS ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*---------------------- VARIABLES CSS ----------------------*/
:root {
  --header-height: ;

  /*-------------------- Colors --------------------*/

  --first-color: ;
  --first-color-second: ;
  --first-color-alt: ;
  --first-color-lighter: ;
  --title-color: ;
  --text-color: ;
  --text-color-light: ;
  --input-color: ;
  --body-color: ;
  --container-color: ;

  /*-------------------- Font and typography --------------------*/
  --body-font: font-family: 'Poppins', sans-serif; ;

  /* font size  */
  --big-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --normal-font-size: ;
  --small-font-size: ;
  --smaller-font-size: ;

  /*-------------------- Font weight --------------------*/
  --font-medium: ;
  --font-semi-bold: ;



  /*-------------------- z index --------------------*/
  --z-tooltip: 1 ;
  --z-fixed: 2;
  --z-modal: 99 ;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}


/*-------------------- BASE --------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font)
}

