/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2021, 10:08:40 PM
    Author     : Admin
*/
/*#text{
    background-image: linear-gradient(to bottom right, #45aaf2, #2bcbba );
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);   
    background-color: #ffffff;
    background: #fff;
    border-radius: 20px;
}*/

/*#image{
    background: #fff;
    border-radius: 20px;
}*/

body{
    background: radial-gradient(#fff,#ffd6d6);
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#link2{
    display: block;
    background-color: #ff523b;
    color: white;
    width: 13em; 
    margin: 0 auto; 
    padding: 10px; 
    border-radius: 8px;
    border-color: bisque;
    font-weight: 500;
}

#back {
  border-bottom: 3px solid #ff8cbc;
  font-size: 1em;
  transition: all 0.25s linear;
  position: relative;
}

#back:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

#back:hover:before {
  transform: scale(1);
}

.form-control{
    margin: 0px 4em 0 4em; 
    border-radius: 8px;
    width: 20em;
    height: 2.7em;
}
/*.form-control:focus { z-index: 2; }*/

/*.row:nth-child(2){
    margin: auto;
}*/

h1{
    text-align: center; 
    font-size: xx-large;
/*    font-family: Brush Script Std;*/
}
/*#noti{
    font-size: 15px; 
    text-transform: initial;
    text-align: center;
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 20px;
    font-weight: 400;
}*/
/*i{
    margin-right: 5px;
    font-size: large;
}*/
/*img{
    height: 40em;
}*/